.about-page {
background-color: var(--primary-color);
display: flex;
flex-direction: column;
align-items: center;
}


.about-headline {
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  border-bottom: var(--secondary-color) solid 1px;
  width: 90vw;
  padding: 0em 0em 0.5em 0em;

}

.about-page h2 {
  font-weight: 100;
  font-size: 1.6em;
  text-align: center;
  /* border-top: var(--secondary-color) solid 1px; */
  padding: 1em 0em 0.5em 0em;
  
}

.about-page h4 {
  font-weight: 100;
  font-size: 1.6em;
  text-align: center;
  /* border-bottom: var(--secondary-color) solid 1px; */
  padding: 1em 0em 1em 0em;

}

.map-container {
    /* border: solid black; */
    text-align: center;
}

.leaflet-container {
    /* border: solid red; */
    width: 80vw;
    height: 30vh;
    margin-bottom: 40px;
    /* margin: auto; */
  }

  /* .wrapper {
    column-count: 2;
    column-gap: 50px;
    padding: 50px;
  } */
  
  .about-page p {
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    margin: 7px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--secondary-color);
  }


  .brothers-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
  
  }

  #address-popup {
    font-size: 1.2em;
    font-weight: 100;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  
  }

  .leaflet-popup-content-wrapper {
    background-color: var(--primary-color)

  }
  