.App {
    text-align: center;
    background-color: hotpink;
}

/**********************/
/* Navigation section */
/**********************/

.category-nav-container {
    display: flex;
}

.category-nav-link {
    list-style: none;
    padding: 1em;
}
