/********************/
/* Checkout section */
/********************/

.checkout-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
    padding-top: 1.5em;
    position: sticky;
    bottom: 0em;
    z-index: 99;
}

#basket-logo-checkout {
    height: 50px;
    padding-bottom: 9px;
}


.basket-item-count {
    background: red;
    padding: 0.5em;
    width: 32px;
    border-radius: 50%;
    position: relative;
    left: -70px;
    bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.checkout-total {
    color: var(--tertiary-color);
    font-size: 2em;
    font-weight: 200;
    margin-left: 1em;
}
