.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
    /* overflow: visible; */
    padding-top: 1em;
    padding-bottom: 1em;
    position: sticky;
    bottom: 0em;
    z-index: 97;
}

#basket-logo-checkout {
    height: 60px;
    margin-top: 10px;

}

.basket-item-count {
    text-decoration: none;
    background: red;
    padding: 0.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: -25px;
    bottom: 10px;
    text-align: center;
    font-weight: 500;
    color: white;
    /* z-index: 999; */
}

.checkout-total {
    color: var(--tertiary-color);
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 0.3em;

}

.menu-item-attributes h3 {
    width: 5vw;
}

.menu-item-attributes .item-quantity {
    margin-left: 0.1vw;
    margin-right: 1vw;
    width: 11vw;
}

#checkout-button {
    width: 50vw;
    margin: 0;
    font-size: 1.5em;
    font-weight: 100;
}

#button-basket {
    display: flex;
}