/* body {
    font-family: 'Raleway', sans-serif;
    background-color: #143D59;
    color: #F4B41A;
    font-size: 5rem;
    margin: 0;
} */

#foodee-container {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}


#foo h1, #dee h1 {
    font-size: 6.5em;
    font-weight: 900;
    margin: 0;
}

#knife, #fork {
    margin-top: 6vh;
    height: 20vh;
    position: absolute;
}

#f-k-container {
    display: flex;
    justify-content: center;
    padding-right: 35vw;
}