.menu-list-item {
    /* background-color: hotpink; */
    list-style: none;
    padding: 1em 1em 1em 1em;
    margin: 1em;
    display: grid;
    /* gap: 1em; */
    grid-template-columns: 2fr 1fr;
    border-bottom: solid 1px #d0cfd3;
    color: var(--primary-color);
}

.item-info-container {
    display: grid;
    place-items: center;
}

.item-info-container > img {
    box-shadow: var(--box-shadow-light);
    border-radius: 25px;
}

.homepage-intro-text {
    color: var(--primary-color);
    padding: 1em;
}

.item-quantity {
    display: inline-block;
    padding: 0 1em;
    /* font-size: 1.3em; */
}

.item-quantity-value {
    font-weight: bold;
    font-size: 1.3em;
}

.btn {
    /* padding: 0.5em; */
    font-size: 2em;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    /* padding: 0.3em; */
    border-radius: 25px;
}

.menu-list-item-container {
    margin: 0;
    padding: 0;
    border: 0;
}






/* h3 {
    color: aquamarine;
}

p {
    color: yellow;
}



.item-quantity {
    color: purple;
}
.item-quantity-value {
    color: greenyellow;
} */