.order-form {
    background: var(--primary-color);
    /* border: solid yellow; */
    text-align: center;
    margin-top: 5%;
}

.large-text {
    width: 80vw; 
    height: 20vh; 
    padding: 1%; 
    font-size: 1em;
    /* border-radius: 2%; */
}

/* .order-btn {
    font-size: 1em;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 10px;
} */

.order-form > button {
    margin: 1em;
    display: block;
    padding: 0.5em 1.2em;
    background-color: var(--secondary-color);
    border: 0;
    color: var(--primary-color);
    /* font-weight: bold; */
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 100;
    width: 50vw;
}
