.payment-form-container {
    padding: 1em;
    color: var(--primary-color);
}

th {
    text-align: left;
    padding-left: 1em;
}

td {
    padding-left: 1em;
}
.order-form-summary {
    margin: 1em;
    padding-left: 1em;
    border: 1px solid grey;
}

.order-table {
    border: 1px dashed grey;
    padding: 1em;
}

.payment-form {
    margin: 1em;
    border: 1px solid grey;
}

.payment-form > ul {
    background: orange;
    border: 1px solid grey;
}

.payment-form > input {
    margin: 1em;
}

.payment-form > button {
    margin: 1em;
    display: block;
    padding: 0.5em 1.2em;
    background-color: var(--secondary-color);
    border: 0;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

/* :root {
    --primary-color: #143d59;
    --secondary-color: #f4b41a;
    --tertiary-color: antiquewhite;
    --quadary-color: white; */
