.thank-you-page {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    text-align: center;
    margin-top: 5%;
}

.large-text {
    width: 80vw; 
    height: 20vh; 
    padding: 1%; 
    font-size: 1em;

}

/* .order-btn {
    font-size: 1em;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 10px;
} */

.thank-you-page > button {
    margin: 1em;
    display: block;
    padding: 0.5em 1.2em;
    background-color: var(--secondary-color);
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
}

#washing-machine {
    margin-top: 5vh;
    height: 300px;
}
