.top-navbar-container-all {
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
}

.top-navbar-container-right, .top-navbar-container-left{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
}

.top-navbar-container-right > img, .top-navbar-container-left > img{
    display: block;
    padding: 10px;
    max-width: 80px;
    max-height: 100px;
}


