.top-navbar-container-all {
    /* display: flex;
    justify-content: space-between;
    background: var(--primary-color); */
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

.top-navbar-container-right > img {
    padding-top: 5px;
    width: 30px;
}

#home-button, #basket-logo {
    margin-right: 15px;
}

#hamburger-menu-logo {
    margin-right: 2px;
}

#fooDee-logo {
    font-size: 1.6rem;
    margin: 0%;
    padding-top: 5px;
    margin-left: 2px;
}