.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
}

/* .name {
  color: darkSlateGray;
} */

ul.component-list {
  display: flex;
  flex-wrap: wrap;
}

li.component-item {
  display: inline;
}
  
.order-table {
  border-collapse: collapse;
  width: 100vw;
  /* height: 80vh; */
}

.order-table tr:nth-child(even){background-color: #f2f2f2;}

.order-table tr:hover {background-color: #ddd;}

.order-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(87, 87, 105);
  color: white;
}

.Mtop-navbar-container-all {
  /* display: flex;
  justify-content: space-between; */
  background: var(--primary-color);
  border: solid blueviolet;

  overflow: hidden;
  position: sticky;
  /* top: 0em; */
  /* z-index: 99; */

  /* padding-top: 1.5em; */
}

.Mtop-navbar-container-right .admin-link {
  border: solid pink;
  padding-top: 5px;
  width: 30px;
}

.Mtop-navbar-container-left {
  border: solid yellow;
  /* padding-top: 5px;
  width: 30px; */
}

  /* .navLink {
    display: inline;
  } */
  
  /* body {
    height: 125vh;
    font-family: sans-serif;
    background-color: ghostWhite;
  } */
  /* #root {
    margin-top: 80px;
    padding: 30px;
  } */
  
  /* .main-image {
    width: 100%;
    height: 100%;
  } */
  /* header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }
  header * {
    display: inline;
  }
  header img {
    height: 80px;
    margin-left: 40px;
  }
  header li {
    margin: 20px;
  } */
  
  /* a {
    color: black;
  } */
  
  /* .singlePirate {
    display: flex;
    justify-content: center;
  } */
  
  /* .button-link {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
  } */