/* .component {
    margin: 20px;
    padding: 10px;
    width: 300px;
    border: 1px solid black;
  }
  
  .name {
    color: darkSlateGray;
  }
  
  ul.component-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  li.component-item {
    display: inline;
  }
  
  .navLink {
    display: inline;
  }
  
  body {
    height: 125vh;
    font-family: sans-serif;
    background-color: ghostWhite;
  }
  #root {
    margin-top: 80px;
    padding: 30px;
  }
  
  .main-image {
    width: 100%;
    height: 100%;
  }
  header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }
  header * {
    display: inline;
  }
  header img {
    height: 80px;
    margin-left: 40px;
  }
  header li {
    margin: 20px;
  }
  
  a {
    color: black;
  }
  
  .singlePirate {
    display: flex;
    justify-content: center;
  }
  
  .button-link {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
  } */